h1 Welcome to ProcessingDB!
p
  | ProcessingDB is a site that lets you manage and run scripts with dependency information. Here's how it works:
h3 Applications
code
  @embed in

h3 Libraries
code
  @depends on
  
h3 Templates
code
  ${content}
