!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/styles.css')
    title ProcessingDB
  body
    #main
      a(href='/')
        img(src='/images/ProcessingDBLogo.png')
      #container!= body
